user_data/backtest_results/*.json
user_data/data/binance/*
user_data/data/bybit/*
user_data/hyperopt_results/*.*
user_data/logs/*.log
user_data/plot/*.html
user_data/*.lock
user_data/*.sqlite*
user_data/config_prod.json
